@tailwind base;
@tailwind components;
@tailwind utilities;

.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
  @apply text-accent;
  font-weight: 700;
  background:transparent;
}

body{
  overflow-x: hidden;
}